<!-- /*
Name           : Manika Debnath
Section        : NGG
Student Number : 109848234
Email          : mdebnath2@myseneca.ca
*/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1> Bangladeshi Schools
        <em class="sub-title">General information.</em>
    </h1>

    <section>
        <div class="left">
            <img src="images/Image1.jpg" class="main-image" alt="Image 1">
        </div>
        <div class="right">
            <h2>History</h2>
            <p class="body-text">Girls' schools in Bangladesh play a crucial role in shaping the future of young women
                by providing them with quality education, empowering them with knowledge, and fostering confidence.
                These schools create a supportive environment where girls can excel academically and develop leadership
                skills. With a focus on subjects ranging from science and technology to literature and the arts,
                Bangladeshi girls' schools encourage students to dream big and break societal barriers. Many
                institutions also promote extracurricular activities, allowing students to engage in debates, sports,
                and cultural programs. By nurturing young minds, these schools contribute to building a more progressive
                and educated society.</p>
        </div>
    </section>
    <br class="clear" />
    <footer>
        <a href="/"> Home</a> |
        <a href="/school"> School Page</a>
    </footer>
</body>

</html>