<!-- /*
Name           : Manika Debnath
Section        : NGG
Student Number : 109848234
Email          : mdebnath2@myseneca.ca
*/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h1> My School
        <em class="sub-title">My first School name was S.B. Govt Girls' High School.</em>
    </h1>
    <section>
        <div class="left">
            <img src="images/Image2.jpg" class="inner-image" alt="Image 1">
        </div>
        <div class="right">
            <h2>About School</h2>
            <p class="body-text">S.B. Govt. Girls' Highool, situated on the Snadha,is an advanced institution for female
                education. The school was established by Satyen Banerjee and some local educationists in 1934 and had
                become nationalized in 1986. The school was acknowledged the best school in Pirojpur district by BSB
                foundation in 2010. Taking part in different public examinations, the students of this school have
                passed with glorious result.Their performance in literature and culture is outstanding. The students
                play an extra-ordinaryrole in observing the National Days. They also pay voluntary services during
                natural calamities.</p>
            <h2>My Memory with School</h2>
            <p class="body-text">My school has played a significant role in shaping who I am today. It is more than just
                a place of learning; it is a space where I have grown academically, built strong friendships, and
                discovered my passions. Through engaging lessons, inspiring teachers, and various extracurricular
                activities, my school has helped me develop confidence and skills that extend beyond the classroom.
                Every experience, from group projects to school events, has contributed to my personal and intellectual
                growth, making my school an integral part of my journey.</p>
        </div>
    </section>
    <br class="clear" />
    <footer>
        <a href="/"> Home</a> |
        <a href="/school"> School Page</a>
    </footer>
</body>

</html>